.navbar {
    padding: 30px;
}

.brand {
    font-size: 30px;
}

.brand i{
    color: #330873;
}

.nav-item {
    font-size: 20px;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.brand-text {
    margin-left: 5px;
    color: #330873;
}

.nav-products span {
    color: #330873;
}

.nav-login span {
    color: #330873;
}

.nav-login, .nav-cart, .nav-fav {
    margin-left: 50px;
}

.nav-fav i {
    color: #330873;
}

.nav-cart i {
    color: #330873;
}

.nav-count {
    margin-left: 2px;
}

.nav-login:hover, .nav-cart:hover, .nav-products:hover, .nav-fav:hover {
    border-bottom: 1px solid rgb(204, 2, 2);
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav-item {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 80px;
        left: -110%;
        text-align: center;
        padding: 20px;
    }

    .nav-login, .nav-cart, .nav-fav {
        margin-left: 0px;
    }

    .nav-item.active {
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-products:hover, .nav-login:hover, .nav-cart:hover {
        border-bottom: 1px solid rgb(204, 2, 2);
    }

    .nav-icon {
        display: block;
        font-size: 30px;
    }

    .nav-icon:hover {
        cursor: pointer;
    }
}